@import "tailwindcss";

@theme {
  --color-Bright-orange:hsl(31, 77%, 52%);
  --color-Dark-cyan: hsl(184, 100%, 22%);
  --color-dark-cyan: hsl(179, 100%, 13%);
  --color-white-p: hsla(0, 0%, 100%, 0.75);
  --color-Very-light-gray-b-h-b: hsl(0, 0%, 95%);
   --font-Lexend : "Lexend Deca", sans-serif;
}


body {
  display: flex;
  justify-content: center;
  margin: 5% auto;
}



article:nth-of-type(1)
button {
   color: hsl(31, 77%, 52%);
}

article:nth-of-type(2)
button {
   color:  hsl(184, 100%, 22%);
}

article:nth-of-type(3)
button {
   color:  hsl(179, 100%, 13%);
}

article
button:hover {
  background: transparent;
  outline: 2px solid #fff;
  color: #fff;
}



.bor-t-l-and-bor-t-r {
    border-top-left-radius:  7px;
    border-top-right-radius:  7px;
 }

 .bor-b-l-and-bor-b-r {
    border-bottom-left-radius:  7px;
    border-bottom-right-radius:  7px ;
 }



 @media (min-width: 1024px) {
   .b-l {
    border-radius: 7px 0 0 7px;
 }

 .b-r {
   border-radius: 0 7px 7px 0;
 }

 }